.alert-action-button {
  display: inline-block;
  width: auto;
  margin: 1rem;
  margin-left: auto;
  margin-right: 0;
}
.spacer {
  width: '100%';
  margin: 1rem 0;
}

.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}

ul.no-bullets,
ol.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.MuiFormControl-root .MuiFilledInput-input:not(.Mui-disabled),
.MuiFormControl-root .MuiInputAdornment-root.MuiInputAdornment-filled:not(.Mui-disabled) {
   border-radius: 8px;
   background-color: #fafafa;
}
.MuiCard-root {
  /* background-color: #fafafa; */
}
.select-none-option-text {
  color: #aaa;
}