#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.page-main-content {
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline-block {
  display: "inline-block";
}
.block {
  display: "block";
}
.text-shadow {
  text-shadow: 0 0 0.35em #333, -0.05em 0.05em 0.35em #333, 0 0 0.1em whitesmoke,
    -0.05em 0.05em 0.1em whitesmoke;
}
.dark-hover .text-shadow,
.text-shadow-light {
  text-shadow: 0 0 0.1em #333, -0.05em 0.05em 0.1em #333, 0 0 0.35em whitesmoke,
    -0.05em 0.05em 0.35em whitesmoke;
}
.text-shadow-light--gold {
  text-shadow: 0 0 0.1em #333, -0.05em 0.05em 0.1em #333, 0 0 0.35em goldenrod,
    -0.05em 0.05em 0.35em goldenrod;
}
.growthPartnerTag {
  font-size: 14px;
  font-style: italic;
  position: absolute;
  display: inline-block;
  top: 2rem;
  left: 3em;
}
.imageCellBox {
  position: "relative";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  color: whitesmoke;
}
.imageCellBox:hover {
  align-items: "flex-start";
}
.imageCellBox.light-hover:hover * {
  color: whitesmoke;
}
.imageCellBox.dark-hover:hover * {
  color: #333;
}
.page-subtitle {
  font-size: 0.618em;
}
.small {
  font-size: 0.7em;
}

@media print {
  .results-disclaimer {
    color: black !important;
    opacity: 1 !important;
    font-size: 0.9rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .page-main-content {
    padding: 0 2rem;
  }
}
